@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");

body {
  font-family: Nunito, Arial, sans-serif;
  padding: 0;
  margin: 5px;
  width: auto;
}

header {
  background-color: rgb(96, 128, 192, 0.4);
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 200%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 2vh;
}

h3 {
  font-weight: 400;
  font-size: 100%;
  letter-spacing: .05em;
  font-variant: small-caps;
  margin: 0;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  border: 0.07em solid rgba(0, 0, 0, 0.25);
}

th,
td {
  padding: 0.25em 1.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
  text-indent: -0.5em;
}

th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.85);
}

tr:nth-child(odd) {
  background-color: rgba(192, 224, 255, 0.5);
}

td:nth-of-type(2) {
  font-style: italic;
}

th:nth-of-type(4),
td:nth-of-type(4) {
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
}

a {
  background-color: #770087;
  box-shadow: 0 5px 0 #aa00aa;
  color: white;
  font-weight: bold;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #B300B3;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}