<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>KidBank Balance</title>
  <link href="../static/kidbank.css" rel="stylesheet" th:href="@{/kidbank.css}" type="text/css">
</head>
<body>
<header>
  <h3>account balance</h3>
  <h1 th:text="${balance}">$99.99</h1>
</header>

<br>
<a sec:authorize-url="/deposit" href="/deposit">Deposit Money</a>

<a sec:authorize-url="/spend" href="/spend">Spend Money</a>

<a sec:authorize-url="/import" href="/import">Import CSV</a>

<div style="float: right;">
  <form action="#" method="post" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
  </form>
</div>
<br/>
<br/>

<table>
  <caption>List of Transactions for this Account</caption>
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Action</th>
    <th scope="col">Description</th>
    <th scope="col">Creator</th>
    <th scope="col">Amount</th>
    <th scope="col">Balance</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="txn : ${transactions}">
    <td th:text="${txn.date}">01/05/2018</td>
    <td th:text="${txn.action}">Cash Deposit</td>
    <td th:text="${txn.source}">Birthday gift</td>
    <td th:text="${txn.creator}">A Parent</td>
    <td th:text="${txn.amount}">$50.00</td>
    <td th:text="${txn.runningBalance}">$55.00</td>
  </tr>
  </tbody>
</table>

<br/>

</body>
</html>