<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>KidBank Balance</title>
  <link rel="stylesheet" type="text/css" href="kidbank.css">
</head>
<body>
<header>
  <h3>account balance</h3>
  <h1 th:text="${balance}">$99.99</h1>
</header>

<a sec:authorize-url="/deposit" href="/deposit">Deposit Money</a>

<a sec:authorize-url="/spend" href="/spend">Spend Money</a>

<a sec:authorize-url="/import" href="/import">Import CSV</a>

<a href="/logout" style="float: right;">Log out</a>
<br/>

<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Action</th>
    <th>Description</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="txn : ${transactions}">
    <td th:text="${txn.date}">01/05/2018</td>
    <td th:text="${txn.action}">Cash Deposit</td>
    <td th:text="${txn.source}">Birthday gift</td>
    <td th:text="${txn.amount}">$50.00</td>
  </tr>
  </tbody>
</table>

<br/>
<div sec:authentication="name">
  Name property of Authentication object.
</div>
</body>
</html>