<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Kid Money Manager - Login</title>
</head>
<body>
<h2>Kid Money Manager - Login</h2>

<form th:action="@{/login}" method="post">
  <p th:if="${loginError}">Invalid username and/or password.</p>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" autofocus="autofocus"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>
  </div>
  <input type="submit" value="Log in"/>
</form>
</body>
</html>
