<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kid Money Manager: Spend</title>
  <link href="../static/kidbank.css" rel="stylesheet"
        th:href="@{/kidbank.css}"
        type="text/css">

  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<header>
  <h2 class="subtitle">ACCOUNT BALANCE</h2>
  <h1 class="title" th:text="${balance}">$99.99</h1>
</header>

<br/>

<div class="section">
  <div class="container">
    <h1 class="title">Spend Money</h1>
    <form action="#" method="post" th:action="@{/spend}" th:object="${spendCommand}">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Date</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control has-icons-left">
              <span class="icon is-small is-left">
                <i class="fas fa-calendar"></i>
              </span>
              <input class="input" th:classappend="${#fields.hasErrors('dateAsLocalDateTime')} ? is-danger : ''"
                     th:field="*{date}"
                     type="date"
              >
            </div>
            <p class="help is-danger"
               th:errors="*{dateAsLocalDateTime}"
               th:if="${#fields.hasErrors('dateAsLocalDateTime')}">
              The date must be today, or in the past.
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">How much?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control has-icons-left">
              <span class="icon is-small is-left">
                <i class="fas fa-dollar-sign"></i>
              </span>
              <input class="input"
                     step="0.01" th:errorclass="is-danger"
                     th:field="*{amount}"
                     type="number">
            </div>
            <p class="help is-danger"
               th:errors="*{amount}"
               th:if="${#fields.hasErrors('amount')}">
              Must be more than $0.00.
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">What'd you buy?</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" th:errorclass="is-danger"
                     th:field="*{description}"
                     type="text">
            </div>
            <p class="help is-danger"
               th:errors="*{description}"
               th:if="${#fields.hasErrors('description')}">
              This field is required.
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary">
                Spend The Money
              </button>
            </div>
            <div class="control">
              <a class="button is-text" href="/account">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>