<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Kid Money Manager</title>
<!-- MailerLite Universal -->
<script>(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
var ml_account = ml('accounts', '1499098', 'q5t9e4q9u2', 'load');
</script><!-- End MailerLite Universal -->
</head>
<body>
<h1>Welcome to the Kid Money Manager</h1>
<h3>
  To view the account, click <a href="#" th:href="@{/account}">here.</a>
</h3>
<hr>
  <h2>Find out more about Kid Money Manager</h2>
  <div class="ml-form-embed" data-account="1499098:q5t9e4q9u2" data-form="1373362:r2l2y1"></div>
<hr>
<footer><span th:text="${commitIdShort}">abcde</span> | <span th:text="${commitTime}"></span></footer>
</body>
</html>
